<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>AliasNameOfServlet</servlet-name>
<servlet-class>com.bridgelabz.program.Genricservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AliasNameOfServlet</servlet-name>
<url-pattern>/gstest</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>index.html</welcome-file>

</welcome-file-list>
</web-app>